<!DOCTYPE html>
<html>
<head>
    <title>Robert Robot Controller</title>
</head>
<body>
    <h1>Robert Robot Controller</h1>
    <div>
        <a href="/forward"><img src="static/forward-arrow.png" alt="forward" width="50"></a>
    </div>
    <div>
        <a href="/left"><img src="static/left-arrow.png" alt="left" width="50"></a>
        <a href="/stop"><img src="static/stop-arow.png" alt="stop" width="50"></a>
        <a href="/right"><img src="static/right-arrow.png" alt="right" width="50"></a>
    </div>
    <div>
        <a href="/backward"><img src="static/backward-arrow.png" alt="backward" width="50"></a>
    </div>
</body>
</html>
